*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}

.main{
    background-color: #f0f9ff;
    width: 100%;
    height: auto;
}

.header{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 50px;
    padding-right: 30px;
}
.navigations{
    display: flex;
    justify-content: space-around;   
}

.navigations a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}
#login{
    border: none;
    background-color: #f0f9ff;
    font-size: 1.2rem;
    color: #0004ef;
}
#signup{
background-color: #4e5ba6;
color: #ffffff;
}

.navigations a:hover{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#login:hover,#signup:hover{
    border-top: 2px solid red;
    border-bottom: 2px solid red;  
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    /* justify-content: center; */
  
   padding-top: 100px;
   width: 90%;
   margin: auto;
   

    
}

.content1-left,.content1-right,.content2-left,.content2-right{
    text-align: center;
    

}

#doctors{
    border-radius: 50%;
    box-shadow: 5px 10px 50px 10px #440000;
    
   
}
.content1-left{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #4e5ba6;
    font-weight: 500;
}
.content2-right{
   
    padding: 20px;
    font-size: 1.2rem;
    color:#4e5ba6 ;
}

h1{
    font-family: sans-serif;
}

.footer{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact{
    color: #ffffff;
    font-size: 1.5rem;
}
.fa-solid{
    color: red;
    
}
h2{
    color: #ffffff;
}