*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #E2E2E2;
    height:auto;
    position: relative;

}

.main{
    background-color: #f0f9ff;
    width: 100%;
    height: 100%;
    display: block;
}

.header{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 50px;
    padding-right: 30px;
}
.navigations{
    display: flex;
    justify-content: space-around; 
    margin-right: 250px;  
    width: 800px;
}

.navigations a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}
#login{
    border: none;
    background-color: #f0f9ff;
    font-size: 1.2rem;
    color: #0004ef;
}
#signup{
background-color: #4e5ba6;
color: #ffffff;
}

.navigations a:hover{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#login:hover,#signup:hover{
    border-top: 2px solid red;
    border-bottom: 2px solid red;  
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
   padding-top: 100px;
   width: 90%;
   margin: auto;
   

    
}

.content1-left,.content1-right,.content2-left,.content2-right{
    text-align: center;
    

}

#doctors{
    border-radius: 50%;
    box-shadow: 5px 10px 50px 10px #440000;
    
   
}
.content1-left{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #4e5ba6;
    font-weight: 500;
}
.content2-right{
   
    padding: 20px;
    font-size: 1.2rem;
    color:#4e5ba6 ;
}

h1{
    font-family: sans-serif;
}

.footer{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact{
    color: #ffffff;
    font-size: 1.5rem;
}
.fa-solid{
    color: red;
    
}
h2{
    color: #ffffff;
}



/* dashboard */



.dashboard{

    background-color: #ffffff;
    width: 90%;
    margin: auto;
    height: auto;
    position: relative;
    margin-top: 30px;
    display: none;
  


}
.sidebar{
    width: 310px;
    height: 1500px;
    border: 0.1px solid rgb(248, 246, 246);
}
.dashboard-header{
    position: absolute;
    right: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

}
.search{
    border:0.5px solid rgb(209, 202, 202);
    height: 44px;
    padding-top: 10px;
    padding-left: 10px;
}

input[type=search]{
    border: none;
    height: 28px;
   
    outline: none;
    
}
i{
   color: gray;
  
}
.user{
    display: flex;
    justify-content: space-evenly;

    width: 140px;
    height: 40px;
    padding-top: 0.5rem;
    margin-top: 50px;
    margin-left: 50px;
}
.fname{
    background-color: #418afc;
    width: 2rem;
    text-align: center;
    height: 1.7rem;
    border-radius: 50%;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.lname{
 
    
   
    text-align: center;
    height: 1.7rem;
    color: #0004ef;
    font-weight: 900;
    font-size: 1.5rem; 
}


.fa-user-doctor,.fa-magnifying-glass,.fa-gear,
.fa-angle-down,.fa-briefcase,.fa-hospital,
.fa-hospital-user,.fa-grip,.fa-pills,.fa-file,.fa-arrow-right-from-bracket{
    color: grey;
   
}
.dash{
    border:0.1px solid rgb(237, 226, 226);
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.6rem;
    color: #0004ef;  
}
.dashboard-menu{
 
    padding-left: 20px;
    height: auto;
    font-size: 1.4rem;
    color: gainsboro;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 50px;
    cursor: pointer;
}

.booking-icon{
    font-size: 3rem;color: #ffffff;

}
.booking{
    background-color: #418afc;
    width: 250px;
    height: 350px;
    margin-left: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 1.6rem;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 8px;
    cursor: pointer;
}
.book-appointment{
    height: 40px;
    width: 120px;
    border-radius: 8px;
    color:#418afc;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 900;

}
.dashboard-content{
    
    height: 1300px;
    position: absolute;
    right: 0;
    width: 80%;

    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 100px;
    background-color: #fbfeff;
   
}

.hide-main{
    display: none;
}
.show-dashboard{
    display: block;
   
}


.container{
    width: 80%;
  position: absolute;
  top: 0;
    height: auto;
   
     text-align: center;
     display: none;
    
 }
 .show-container{
    display: block;
 }

.login-field{
    height: 800px;
    width: 950px;
    background-color: #ffffff;
    margin: auto;
    margin-top: -70px;
    border-radius: 40px;
    text-align: center;
    color: #0004ef;
    padding-top: 80px;
    transform: translateY(-1400px);
    transition: 1s ease-in-out;
    display: none;
    
}

.show-login{
    display: block;
    transform: translateY(0px); 
    transition: 1s ease-in-out;
}
h3{
    color: grey;
    font-size: 2rem;
    font-family: sans-serif;
}
input[type=text],input[type=password]{
    width: 80%;
    height: 80px;
    border-radius: 20px;
    font-size: 36px;
    padding-left: 40px;

}

button[type=submit]{
    width: 80%;
    height: 80px;
    border-radius: 35px;
    background-color: #5154f7;
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
}


.hospitals{
    background-color: #d1d6f5;
    height: 1000px;
    width: 550px;
    padding-top: 20px;
    border-radius: 8px;
    transform: translateX(-300%);
    transition: 1s ease-in-out;
   

}

.hide-hospitals{
    display: none;
}
.show-hospital{
transform: translateX(-25%);
transition: 1s ease-in-out;
}
.fa-x{
    font-size: 2rem;
    position: relative;
    left: 500px;
    cursor: pointer;

}
.create-hospital,.list-hospital{
    width: 80%;
    height: 80px;
   
    font-size: 32px;
    padding-left: 2px;
    background-color: #d1d6f5;
    color: #5154f7;
    font-weight: 900;
    cursor: pointer;
    border: none;
  

}

::placeholder{
    font-size: 1.5rem;
}
#createH input[type=email]{
    width: 80%;
    height: 80px;
    border-radius: 20px;
    font-size: 36px;
    padding-left: 40px;
}
#createH{
    width: 1300px;
    margin-left: 30%;
    margin-top: 100px;
    background-color: rgb(153, 184, 211);
    height: 1100px;
    padding-top: 80px;
    border-radius: 28px;
}

.hide-createH{
    display: none;
}